version: "3.8"

services:
  mysql:
    image: mysql:8.0.36
    container_name: reachinbox-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: reachinbox
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 10
    restart: unless-stopped

  redis:
    image: redis:7
    container_name: reachinbox-redis
    ports:
      - "6379:6379"
    restart: unless-stopped